<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.">
	<meta name="author" content="Mark">
	<link rel="icon" href={{request.static_url('basics:static/icons/markup.ico')}}>

	<title>Professors Mode | Admin Dashboard | MithSi |  Markup</title>

	<link href={{request.static_url('basics:static/css/bootstrap.min.css')}} rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href={{request.static_url('basics:static/css/main.css')}} rel="stylesheet">
</head>

<body onload="myfunc()">
	<nav class="container navbar navbar-light bg-none shadow-sm w-100 z-index-5">
		<div class=" px-5 mx-auto">
			<a href="#home">
				<div class="markup-square mx-auto"></div>
			</a>
			<ul class="nav nav-primary justify-content-center">
				<li class="nav-item">
					<a class="nav-link" href="#MithSi">MithSi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Log Out</a>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="container navbar navbar-light bg-none shadow-sm w-100 z-index-3">
		<div class=" px-5 mx-auto">
			<nav class="nav nav-secondary justify-content-center">
				<a class="nav-link" href="/admin-students">
					<span class="d-sm-none" title="Students">St</span>
					<span class="d-none d-sm-block">Students</span>
				</a>
				<a class="nav-link active" href="/admin-professors">
					<span class="d-sm-none" title="Professors">Pr</span>
					<span class="d-none d-sm-block">Professors</span>
				</a>
				<a class="nav-link" href="/admin-link">
					<span class="d-sm-none" title="Link">Li</span>
					<span class="d-none d-sm-block">Link</span>
				</a>
				<a class="nav-link" href="/admin-snapshot">
					<span class="d-sm-none" title="Snapshot">Sn</span>
					<span class="d-none d-sm-block">Snapshot</span>
				</a>
				<a class="nav-link " href="/admin-syllabus">
					<span class="d-sm-none" title="Syllabus">Sy</span>
					<span class="d-none d-sm-block">Syllabus</span>
				</a>
			</nav>
		</div>
	</nav>

	<div class="container shadow-sm z-index-1">
		<div class="row">
			<div class="col-lg-3 px-3 py-4 border border-left-0 border-right-0 border-top-0 bg-none">
				<form class="mb-4">
					<div class="form-group">
						<label>Subject</label>
						<select class="form-control" id='subval' onchange="fetchdata()">
							<option value="All" selected>All</option>
						</select>
					</div>
				</form>
			</div>

			<div class="col-lg-9 bg-white px-3 py-3 pt-4  border border-left-0 border-right-0 border-top-0 z-index-0">
				<h2 class="text-center">Subject:{{sel_sub}}</h2>
				<div class="row my-4 px-3">
					<script src="https://cdn.jsdelivr.net/npm/handsontable@5.0.0/dist/handsontable.full.min.js"></script>
					<link href="https://cdn.jsdelivr.net/npm/handsontable@5.0.0/dist/handsontable.full.min.css" rel="stylesheet" media="screen"/>
					<form action="/admin-professors" method='POST'>
					<input id="search_name" name="search_name" class="form-control form-control-md mb-3" type="text" placeholder="Search for Names"/>
					<input type="submit" id="searchn" name="search" value="search" >
				</form>
					<div class="w-100" style="overflow: hidden; height: 75vh">
										<h6 style="text-align:center;color:red">{{err}}</h6>
							<div id="example1" class="hot"></div>
							<script>
								var d = ''
								var example1 = document.getElementById('example1');
								var hot = new Handsontable(example1, {
									data: Handsontable.helper.createSpreadsheetData(1, 10),
									stretchH: 'all',
									rowHeaders: true,
									colHeaders: [
										'Name',
										'Subject',
										'Emp. No.',
										'Bday',
										'Blood Group',
										'Gender',
										'Email Id',
										'Mobile No.',
										'Annual Income',
										'Password'
									],
									autoColumnSize: {
										samplingRatio: 23
									},
									columnSorting: true,
									sortIndicator: true,
									fixedRowsTop: 0,
									fixedColumnsLeft: 0,
									manualRowResize: true,
									manualColumnResize: true,
									manualRowMove: true,
									manualColumnMove: true,
									contextMenu: false,
									copyPaste: true,
									minSpareRows: 20,
									wordWrap: false
								});
							</script>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col bg-white px-3 py-3 text-right z-index-0">
					<button type="button" class="btn btn-outline-primary mx-3" onclick='save_changes()'>Save Changes</button>
<input type='hidden' name='leng' id='leng' value={{len}} > 
<input type='hidden' name='name' id='name' value={{name}} > 
<input type='hidden' name='subj' id='subj' value={{sub}} > 
<input type='hidden' name='empno' id='empno' value={{empno}} > 
<input type='hidden' name='bldgrp' id='bldgrp' value={{bldgrp}} > 
<input type='hidden' name='gender' id='gender' value={{gender}} > 
<input type='hidden' name='email' id='email' value={{email}} > 
<input type='hidden' name='bday' id='bday' value={{bday}} > 
<input type='hidden' name='mobile' id='mobile' value={{mobile}} > 
<input type='hidden' name='income' id='income' value={{income}} > 
<input type='hidden' name='pwd' id='pwd' value={{password}} > 
<form action="/admin-professors" method="post"> 
<input type='hidden' name='profdata' id='data' > 
<input type='submit' style="display:none;" id='savedata' name='savedata' > 
</form>
				</div>
			</div>
		</div>
	</div>
	<footer class="container px-3 py-3">
		<ul class="list-inline">
			<li class="list-inline-item mr-3"><a href="/index-get-started">About</a></li>
			<li class="list-inline-item mr-3"><a href="/index-get-started">How it works</a></li>
			<li class="list-inline-item mr-3"><a href="/index-get-started">Pricing</a></li>
			<li class="list-inline-item mr-3"><a href="/index-get-started">Blog</a></li>
			<li class="list-inline-item mr-3"><a href="/index-get-started">Terms</a></li>
			<li class="list-inline-item mr-3"><a href="/index-get-started">Privacy</a></li>
			<li class="list-inline-item mr-3"><a href="/index-get-started">Disclosures</a></li>
			<li class="list-inline-item mr-3"><a href="/index-get-started">Contact</a></li>
		</ul>
		<p class="text-secondary">Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.</p>
		<p class="text-secondary" id='rights'>&copy; Markup. All rights reserved.</p>
	</footer>

<input type="hidden"  id="sub" value={{subjects}} >
<form method="post" action="/admin-professors">
<input type="hidden" name="sel_sub" id="sel_sub" value={{sel_sub}} >
<input type="submit" style="display:none" id="submit" name="save">
</form>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src={{request.static_url('basics:static/js/bootstrap.min.js')}}></script>

	<link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
	<script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

function myfunc()
{
var selsub = document.getElementById('sel_sub').value
var sel_sub = document.getElementById('subval')
var ele = document.getElementById('sub')
var val = ele.value
var arr  = val.split(',')
var l = arr.length
for(var j = 0;j<l-1;j++)
{
var opt = document.createElement('option')
opt.text = arr[j]
if(arr[j] == selsub)
{
opt.selected = true
}
sel_sub.add(opt)

}
var data = hot.getData()
var ini = hot.countSourceRows()
var end = hot.countEmptyRows()
var rownum = ini - end
var name = document.getElementById('name').value
var subj = document.getElementById('subj').value
var bday = document.getElementById('bday').value
var empno = document.getElementById('empno').value
var bldgrp = document.getElementById('bldgrp').value
var gender = document.getElementById('gender').value
var email = document.getElementById('email').value
var mobile = document.getElementById('mobile').value
var income = document.getElementById('income').value
var pwd = document.getElementById('pwd').value

name = name.substring(0, name.length-1);
name = name.split(',')
subj = subj.substring(0, subj.length-1);
subj = subj.split(',')
empno = empno.substring(0, empno.length-1);
empno = empno.split(',')
bldgrp = bldgrp.substring(0, bldgrp.length-1);
bldgrp = bldgrp.split(',')
bday = bday.substring(0, bday.length-1);
bday = bday.split(',')
gender = gender.substring(0, gender.length-1);
gender = gender.split(',')
email = email.substring(0, email.length-1);
email = email.split(',')
mobile = mobile.substring(0, mobile.length-1);
mobile = mobile.split(',')
income = income.substring(0, income.length-1);
income = income.split(',')
pwd = pwd.substring(0, pwd.length-1);
pwd = pwd.split(',')
hot.clear()
var len = subj.length
for(var f = 0;f<10;f++)
{
for(var i = 0;i<len;i++)
{
if(f == 0)
{
hot.setDataAtCell(i,f,name[i])
}
if(f == 1)
{
hot.setDataAtCell(i,f,subj[i])
}
if(f == 2)
{
hot.setDataAtCell(i,f,empno[i])
}
if(f == 3)
{
hot.setDataAtCell(i,f,bday[i])
}
if(f==4)
{
hot.setDataAtCell(i,f,bldgrp[i])
}

if(f == 5)
{
hot.setDataAtCell(i,f,gender[i])
}
if(f == 6)
{
hot.setDataAtCell(i,f,email[i])
}

if(f == 7)
{
hot.setDataAtCell(i,f,mobile[i])
}
if(f == 8)
{
hot.setDataAtCell(i,f,income[i])
}

if(f == 9)
{
hot.setDataAtCell(i,f,pwd[i])
}

}
}

}



function save_changes()
{

var data = hot.getData()
var ini = hot.countSourceRows()
var end = hot.countEmptyRows()
var rownum = ini - end
for (i =0;i<rownum;i++)
{
d += new Array(hot.getDataAtRow(i)) + "," ;
}

d = new Array(d);
document.getElementById('data').value = d;
document.getElementById('savedata').value = rownum;
document.getElementById('savedata').click();
}


function fetchdata()
{
var sel_sub = document.getElementById('subval')
var sub = sel_sub.options[sel_sub.selectedIndex].text
var sel_sub_q = document.getElementById('sel_sub')
sel_sub_q.value = sub
var submit = document.getElementById('submit')
submit.click()
}

</script>
</body>
</html>
