<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.">
	<meta name="author" content="Mark">
	<link rel="icon" href={{request.static_url('basics:static/icons/markup.ico')}}>

	<title>Get Started | Markup</title>

	<link href={{request.static_url('basics:static/css/bootstrap.min.css')}} rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href={{request.static_url('basics:static/css/main.css')}} rel="stylesheet">
</head>

<body>
	<nav class="container navbar navbar-light bg-none shadow-sm w-100 z-index-5">
		<div class=" px-5 mx-auto">
			<a href="#home">
				<div class="markup-square mx-auto"></div>
			</a>
			<ul class="nav nav-primary justify-content-center mt-4 my-2">
				<li class="nav-item">
					<a class="nav-link text-secondary" href="/index-sign-in">Sign In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-outline-primary active" href="/index-get-started">Get Started</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container shadow-sm z-index-1">
		<div class="row">
			<div class="col-md-3 px-3 py-4 text-center border border-left-0 border-right-0 border-top-0 bg-white">
				<div class="list-group text-md-right" id="get-started-list">
					<a class="list-group-item list-group-item-action border-0 rounded active" data-toggle="list" href="#list-about" role="tab">About Markup</a>
					<a class="list-group-item list-group-item-action border-0 rounded" data-toggle="list" href="#list-how-it-works" role="tab">How It Works</a>
					<a class="list-group-item list-group-item-action border-0 rounded" data-toggle="list" href="#list-pricing" role="tab">Pricing</a>
					<a class="list-group-item list-group-item-action border-0 rounded" data-toggle="list" href="#list-terms" role="tab">Terms</a>
					<a class="list-group-item list-group-item-action border-0 rounded" data-toggle="list" href="#list-privacy" role="tab">Privacy</a>
					<a class="list-group-item list-group-item-action border-0 rounded" data-toggle="list" href="#list-disclosures" role="tab">Disclosures</a>
					<a class="list-group-item list-group-item-action border-0 rounded" data-toggle="list" href="#list-team" role="tab">Team</a>
					<a class="list-group-item list-group-item-action border-0 rounded" data-toggle="list" href="#list-contact" role="tab">Contact</a>
				</div>
			</div>

			<div class="col-md-9 bg-white px-3 py-3 pt-4  border border-left-0 border-right-0 border-top-0 z-index-0">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="list-about" role="tabpanel">
						<div id="how-it-works" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>About Markup</h2>
							<p>
								Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.
							</p>
							<p>
								<h5 class="text-markup-blue">Interlink Stakeholders</h5>
								<h6>Markup is a new age analytics tool to measure where a student stands</h6>
								Markup is a tool that captures all possible data, in the most efficient way possible. The tool captures students' marks, not just the overall subject marks, but also the minute individual question-level marks. Our systems would also internally tag questions and chapters (and sub-chapters, too). With these internal systems, in place, it's never been this simple and this insightful for students, Professors, and school managements to measure their performance.
							</p>
							<p>
								<h5 class="text-markup-red">Tag Questions And Sub-Chapters</h5>
								Scoring marks is important, and understanding where you scored and where you didn't, even more important. 3 reasons why you should get started with Markup:<br/>
								- Benchmark where you stand against your chosen competitive frame of reference<br/>
								- Identify subject areas of strengths and weaknesses, precisely<br/>
								- All you need is internet connectivity to connect to your dashboard, anywhere and anytime<br/>
							</p>
							<p>
								<h5 class="text-markup-violet">Collect Data</h5>
								- <a href="#">Study Smarter, Not Harder</a><br/>
								- <a href="#">Track Progress, Anywhere</a><br/>
								- <a href="#">Know Where You Stand</a><br/>
								- <a href="#">Exceed Expectations</a>
							</p>
							<p>
								<h5 class="text-markup-yellow">View Insights</h5>
								We want to hear what you love and hate about the Markup platform.<br/>
								Get in touch with us at <a href="#">support@markup.com</a><br/>
								For jobs, email us at <a href="#">people@markup.com</a>
							</p>
							<p>
									For latest updates from Markup, please visit our <a href="#">blog</a>.
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="list-how-it-works" role="tabpanel">
						<div id="how-it-works" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>How Markup Works</h2>
							<p>
								Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.
							</p>
							<p>
								<h5 class="text-markup-blue">Interlink Stakeholders</h5>
								<h6>Markup is a new age analytics tool to measure where a student stands</h6>
								Markup is a tool that captures all possible data, in the most efficient way possible. The tool captures students' marks, not just the overall subject marks, but also the minute individual question-level marks. Our systems would also internally tag questions and chapters (and sub-chapters, too). With these internal systems, in place, it's never been this simple and this insightful for students, Professors, and school managements to measure their performance.
							</p>
							<p>
								<h5 class="text-markup-red">Tag Questions And Sub-Chapters</h5>
								Scoring marks is important, and understanding where you scored and where you didn't, even more important. 3 reasons why you should get started with Markup:<br/>
								- Benchmark where you stand against your chosen competitive frame of reference<br/>
								- Identify subject areas of strengths and weaknesses, precisely<br/>
								- All you need is internet connectivity to connect to your dashboard, anywhere and anytime<br/>
							</p>
							<p>
								<h5 class="text-markup-violet">Collect Data</h5>
								- <a href="#">Study Smarter, Not Harder</a><br/>
								- <a href="#">Track Progress, Anywhere</a><br/>
								- <a href="#">Know Where You Stand</a><br/>
								- <a href="#">Exceed Expectations</a>
							</p>
							<p>
								<h5 class="text-markup-yellow">View Insights</h5>
								We want to hear what you love and hate about the Markup platform.<br/>
								Get in touch with us at <a href="#">support@markup.com</a><br/>
								For jobs, email us at <a href="#">people@markup.com</a>
							</p>
							<p>
									For latest updates from Markup, please visit our <a href="#">blog</a>.
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="list-pricing" role="tabpanel">
						<div id="pricing" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>Pricing</h2>
							<p>
								Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.
							</p>
							<p>
								<h5 class="text-markup-blue">Interlink Stakeholders</h5>
								<h6>Markup is a new age analytics tool to measure where a student stands</h6>
								Markup is a tool that captures all possible data, in the most efficient way possible. The tool captures students' marks, not just the overall subject marks, but also the minute individual question-level marks. Our systems would also internally tag questions and chapters (and sub-chapters, too). With these internal systems, in place, it's never been this simple and this insightful for students, Professors, and school managements to measure their performance.
							</p>
							<p>
								<h5 class="text-markup-red">Tag Questions And Sub-Chapters</h5>
								Scoring marks is important, and understanding where you scored and where you didn't, even more important. 3 reasons why you should get started with Markup:<br/>
								- Benchmark where you stand against your chosen competitive frame of reference<br/>
								- Identify subject areas of strengths and weaknesses, precisely<br/>
								- All you need is internet connectivity to connect to your dashboard, anywhere and anytime<br/>
							</p>
							<p>
								<h5 class="text-markup-violet">Collect Data</h5>
								- <a href="#">Study Smarter, Not Harder</a><br/>
								- <a href="#">Track Progress, Anywhere</a><br/>
								- <a href="#">Know Where You Stand</a><br/>
								- <a href="#">Exceed Expectations</a>
							</p>
							<p>
								<h5 class="text-markup-yellow">View Insights</h5>
								We want to hear what you love and hate about the Markup platform.<br/>
								Get in touch with us at <a href="#">support@markup.com</a><br/>
								For jobs, email us at <a href="#">people@markup.com</a>
							</p>
							<p>
									For latest updates from Markup, please visit our <a href="#">blog</a>.
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="list-terms" role="tabpanel">
						<div id="terms" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>Terms</h2>
							<p class="pt-2">
								It's easy to buy & manage smallcases. All you have to do is find your favourite smallcases and click buy. We take care of placing orders for each of them, tracking each smallcase as a separate portfolio & helping you rebalance your smallcase in two clicks!
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="list-privacy" role="tabpanel">
						<div id="privacy" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>Privacy</h2>
							<p class="pt-2">
								It's easy to buy & manage smallcases. All you have to do is find your favourite smallcases and click buy. We take care of placing orders for each of them, tracking each smallcase as a separate portfolio & helping you rebalance your smallcase in two clicks!
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="list-disclosures" role="tabpanel">
						<div id="disclosures" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>Disclosures</h2>
							<p class="pt-2">
								It's easy to buy & manage smallcases. All you have to do is find your favourite smallcases and click buy. We take care of placing orders for each of them, tracking each smallcase as a separate portfolio & helping you rebalance your smallcase in two clicks!
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="list-team" role="tabpanel">
						<div id="disclosures" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>Team</h2>
								<p>
								Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.
							</p>
							<p>
								<h5 class="text-markup-blue">Interlink Stakeholders</h5>
								<h6>Markup is a new age analytics tool to measure where a student stands</h6>
								Markup is a tool that captures all possible data, in the most efficient way possible. The tool captures students' marks, not just the overall subject marks, but also the minute individual question-level marks. Our systems would also internally tag questions and chapters (and sub-chapters, too). With these internal systems, in place, it's never been this simple and this insightful for students, Professors, and school managements to measure their performance.
							</p>
							<p>
								<h5 class="text-markup-red">Tag Questions And Sub-Chapters</h5>
								Scoring marks is important, and understanding where you scored and where you didn't, even more important. 3 reasons why you should get started with Markup:<br/>
								- Benchmark where you stand against your chosen competitive frame of reference<br/>
								- Identify subject areas of strengths and weaknesses, precisely<br/>
								- All you need is internet connectivity to connect to your dashboard, anywhere and anytime<br/>
							</p>
							<p>
								<h5 class="text-markup-violet">Collect Data</h5>
								- <a href="#">Study Smarter, Not Harder</a><br/>
								- <a href="#">Track Progress, Anywhere</a><br/>
								- <a href="#">Know Where You Stand</a><br/>
								- <a href="#">Exceed Expectations</a>
							</p>
							<p>
								<h5 class="text-markup-yellow">View Insights</h5>
								We want to hear what you love and hate about the Markup platform.<br/>
								Get in touch with us at <a href="#">support@markup.com</a><br/>
								For jobs, email us at <a href="#">people@markup.com</a>
							</p>
							<p>
									For latest updates from Markup, please visit our <a href="/">blog</a>.
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="list-contact" role="tabpanel">
						<div id="disclosures" class="pr-md-5 pt-2 mx-0 text-left">
							<h2>Contact</h2>
							<p class="pt-2">
								It's easy to buy & manage smallcases. All you have to do is find your favourite smallcases and click buy. We take care of placing orders for each of them, tracking each smallcase as a separate portfolio & helping you rebalance your smallcase in two clicks!
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer class="container px-3 py-3">
		<p class="text-secondary">Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.</p>
		<p class="text-secondary">&copy; Markup. All rights reserved.</p>
	</footer>
	<script>
		window.addEventListener('load', function () {
			var hash = window.location.hash;
			$('#get-started-list a[href="' + hash + '"]').tab('show');
		}, false);
		document.body.scrollTop = 0;
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src={{request.static_url('basics:static/js/bootstrap.min.js')}}></script>

	<link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
	<script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</body>
</html>
